@import "~src/variables";


p{
  text-align: center;
}

#mainScreen{
  background-color: red;
}

#main{
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0 0 170px;
  width: 100%;
  scrollbar-width: none;  // Firefox
  -webkit-overflow-scrolling: touch;


  @media screen and (max-width: map_get($grid-breakpoints, "md")) {
    margin-top: $barHeight;
  }
}

.bubbleWrapper{
  display: inline-block;
}

#textWrapper{
  max-width: 80%;
  margin-top: 50px;
  margin-left: 50px;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.5);
  padding: 10px;

}


#chat{
  margin-top: 50px;
  height: 90vh;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.5);
  border-radius: 25px;
  overflow: hidden;
  max-width: map_get($grid-breakpoints,"sm") ;
  background-image: url('../../assets/svg/BG-01.svg');
  background-size: cover;
  background-position: right bottom;
  background-color: #3f3f40;





  @media screen and (max-width: map_get($grid-breakpoints, "md")) {
    max-width: map_get($grid-breakpoints,"md") ;

    height: 100vh;
    border-radius: 0;
    //width: 100%;
    margin-top: 0;
    overflow: hidden;
    width: 100vw;
  }

}
body{
  overflow: auto;
}


@supports (display: grid) {
  .buttonWrapper {
    position: absolute;
    margin-left: 16px;
    bottom: 56px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: grid;
    grid-gap: 1px;
    grid-column-gap: 10px;
    grid-template-columns: repeat(4, calc(50% - 30px));
    grid-template-rows: minmax(15px,calc(50% - 30px));
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
  }
}



