
@font-face {
  font-family: 'OpenSans-auto';
  font-display: auto;
  src: local('Open Sans'), url(/assets/fonts/OpenSans-Regular.ttf) format('ttf');
}

$fonts:(
  primary:'OpenSans-auto',
  secondary: 'Arial'
);

$white : #FFFFFF;
$secondaryColor: #FF7272;

$barHeight: 100px;

$margin: 16px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

//mixins

@mixin box-shadow{
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.59);
}
