@import "~src/variables";




.quickReplyButton{
  flex: 0 0 auto;
  margin-right: 16px;
  margin-top: 16px;
  z-index: 0;
  @include custom-button;

  &.rippling {
    animation: pop-ripple 250ms ease-out forwards;
  }
  &.fade {
    animation: pop-fade 300ms ease-in-out forwards;
  }


}
